<div class="about-us">

  <div class="row bottom-bordered">
    <div class="large-6 columns">
      <h2>Her</h2>
      <p>This is some stuff about Joanne! Blah blah blah :)</p>
    </div>
    <div class="large-6 columns">
      <h2>Him</h2>
      <p>And here is some stuff about Jon! I am a boy!</p>
    </div>
  </div>

  <h1>How We Met</h1>

  <p>Jon and Joanne met in church when Jon listened to Joanne audition (read: forget all the lyrics of every song) for their worship team. Over the next two years, they made lots of music, drank lots of wine (empty bottles = free centerpieces), and, somewhere along the way, decided to spend the rest of their lives together.</p>

  <h2>What The Critics Are Saying</h2>
  <div class="row">
    <div class="large-6 columns">
      <blockquote>
        <p>"A typical kdrama but [...] no one gets sick or dies or needs an organ transplant of whatever sort to cure X cancer"</p>
        <p>"I didn't enjoy watching the painful parts, but the couple has a happy ending!"</p>
      </blockquote>
      <p class="byline">- the maid of honor</p>

      <blockquote>
        <p>"Like a car accident that you can't stop watching."</p>
      </blockquote>
      <p class="byline">- the bride to be</p>

      <blockquote>
        <p>"Society kept them apart but love brought them together."</p>
        <p>"Their love of music overcame all boundaries."</p>
      </blockquote>
      <p class="byline">- the electric guitarist</p>
    </div>

    <div class="large-6 columns">
      <blockquote>
        <p>"It was interesting."</p>
        <p>"The roller coaster thriller of the year."</p>
        <p>"A Christmas love story."</p>
      </blockquote>
      <p class="byline">- the best man</p>

      <blockquote>
        <p>"Too much pda. RATED R"</p>
        <p>"A coming of age story (for Jon)"</p>
      </blockquote>
      <p class="byline">- the best man's wife</p>
    </div>
  </div>

</div>

