<div class="about-us">

  <div class="row bottom-bordered">
    <div class="large-6 columns">
      <h2>Her</h2>
      <p>This is some stuff about Joanne! Blah blah blah :)</p>
    </div>
    <div class="large-6 columns">
      <h2>Him</h2>
      <p>And here is some stuff about Jon! I am a boy!</p>
    </div>
  </div>

  <h1>How We Met</h1>

  <p>We met via alcohol!</p>

</div>

