<div class="bridal-party">

  <h2>Ladies First!</h2>
  <ul class="large-block-grid-4">
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">Jihye Kim</div>
      <div class="title">Maid of Honor</div>
      <p class="blurb">She's cool</p>
    </li>
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">Jessica Cheng</div>
      <div class="title">Bridesmaid</div>
      <p class="blurb">She's cool too!</p>
    </li>
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">Yeona Chun</div>
      <div class="title">Bridesmaid</div>
      <p class="blurb">She's cool too!</p>
    </li>
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">Shinetin Tzeng</div>
      <div class="title">Bridesmaid</div>
      <p class="blurb">She's cool too!</p>
    </li>
  </ul>

  <h2>Men Second</h2>
  <ul class="large-block-grid-4">
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">Michael Chen</div>
      <div class="title">Best man</div>
      <p class="blurb">He's cool</p>
    </li>
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">Craig Wen</div>
      <div class="title">Groomsman</div>
      <p class="blurb">He's cool too!</p>
    </li>
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">Jeremy Shih</div>
      <div class="title">Groomsman</div>
      <p class="blurb">He's cool too!</p>
    </li>
    <li>
      <img src="http://placehold.it/300x300" />
      <div class="name">???</div>
      <div class="title">Groomsman</div>
      <p class="blurb">He's a question mark!</p>
    </li>
  </ul>

  <div class="officiant">
    <h2>The Man of the Hour!</h2>
    <img src="http://placehold.it/300x300" />
    <div class="name">Eugene Kim</div>
    <div class="title">Officiant</div>
    <p class="blurb">He's a ninja!</p>
  </div>

</div>
