<div class="home">
  <div class="welcome">
    <div class="row">
      <div class="large-7 columns">
        <div class="greeting">Welcome to our wedding site!</div>
        <div class="message">We can't wait to celebrate with you in:</div>
    </div>
      <div class="large-5 columns">
        <div id="countdown">
          <span class="countdown_row countdown_show4">
            <span class="countdown_section">
              <span class="countdown_amount">177</span><br>
              Days
            </span>
            <span class="countdown_section">
              <span class="countdown_amount">1</span><br>
              Hour
            </span>
            <span class="countdown_section">
              <span class="countdown_amount">52</span><br>
              Minutes
            </span>
            <span class="countdown_section">
              <span class="countdown_amount">43</span><br>
              Seconds
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <h2>Until Then...</h2>
  <div class="flex-video vimeo widescreen">
    <iframe src="http://player.vimeo.com/video/72530126?title=0&amp;byline=0&amp;portrait=0" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

</div>
