<h1>Hotel Info</h1>

<p>We have blocked off a number of rooms at the following hotels for your convenience (both are ~5 minutes' walk from the venue).</p>

<div class="row bottom-bordered">
  <div class="large-6 columns">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5895.17511235875!2d-71.08121666798183!3d42.37262835132663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7205af460a09914!2sHoliday+Inn+Express+Hotel+%26+Suites%E2%80%A6!5e0!3m2!1sen!2sus!4v1385781069965" width="380" height="300" frameborder="0" style="border:0"></iframe>
  </div>
  <div class="large-6 columns">
    <div class="info heading">
      <a href="http://www.hiecambridge.com/" target="_blank">Holiday Inn</a>
    </div>
    <div class="info bordered">
      Call 617-577-7600 and request Shih-Lee Wedding block
    </div>
    <div class="info">
      Rooms must be reserved by <b>Dec 24th</b> to reserve the $99 rate + taxes (for either a 1 king bedroom or 2 double bedroom).
    </div>
    <div class="info">
      Rate includes hot breakfast buffet, free wifi, free parking
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5895.17511235875!2d-71.08121666798183!3d42.37262835132663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d165d58dddffcad!2sHampton+Inn-Boston+Cambridge!5e0!3m2!1sen!2sus!4v1385781384648" width="380" height="300" frameborder="0" style="border:0"></iframe>
  </div>
  <div class="large-6 columns">
    <div class="info heading">
      <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/B/BOSCBHX-SLG-20140124/index.jhtml" target="_blank">Hampton Inn</a>
    </div>
    <div class="info">
      Call 617-494-5300 and request Shih-Lee Wedding block
    </div>
    <div class="info">
      OR call 1-800-HAMPTON and request group code SLW
    </div>
    <div class="info bordered">
      OR access the <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/B/BOSCBHX-SLG-20140124/index.jhtml">Personalized Group Page</a>
    </div>
    <div class="info">
      Rooms must be reserved by <b>Dec 20th</b> to receive the room rate of $129+ taxes (1-2 persons) or $149 + taxes (3-4 persons)
    </div>
    <div class="info">
      Rate includes free parking per guest room, complimentary deluxe continental breakfast, free wifi.
    </div>
  </div>
</div>
