<div class="landing">
  <div class="row">
    <div class="large-12 columns">
      <a href="/home">
        <%= image_tag 'landing2.jpg', :class => 'bottom' %>
        <%= image_tag 'landing1.jpg', :class => 'top' %>
      </a>
    </div>
  </div>
</div>
