<div class="registry">
  <h1>Registry</h1>

  <p>Please do not feel obligated to buy us a gift, your presence at our wedding is more than enough! But if you would like to help us set up our new home together, we are registered at the following places:</p>

  <a target="_blank" href="https://secure.williams-sonoma.com/registry/jvh89b5r6p/registry-list.html">
    <%= image_tag 'registry/ws.png', :id => 'ws' %>
  </a>
  <a target="_blank" href=" http://www.crateandbarrel.com/Gift-Registry/Joanne-Shih-and-Jon-Lee/r5110207">
    <%= image_tag 'registry/cb.png', :id => 'cb' %>
  </a>

  <p>We would also appreciate any monetary gifts, gift cards, handwritten letters, or goods made with love! No animals though... we already have our hands full with an attention-loving kitty!</p>

  <div class="flatty">
    <%= image_tag 'flatty.jpg' %>
  </div>
</div>
