<div class="registry">
  <h1>Registry</h1>

  <p>We are registered at the following places:</p>

  <a target="_blank" href="https://secure.williams-sonoma.com/registry/jvh89b5r6p/registry-list.html">
    <%= image_tag 'registry/ws.png', :id => 'ws' %>
  </a>
  <a target="_blank" href=" http://www.crateandbarrel.com/Gift-Registry/Joanne-Shih-and-Jon-Lee/r5110207">
    <%= image_tag 'registry/cb.png', :id => 'cb' %>
  </a>
</div>
