<div class="things">
<h1>Things To Do (Eat)</h1>

<p>Stay tuned! We'll be updating this page with our favorite things to do and places to go in the area!</p>

<ul class="large-block-grid-4">
  <li>
    <%= image_tag 'things/lobster.jpg' %>
  </li>
  <li>
    <%= image_tag 'things/daily-catch.jpg' %>
  </li>
  <li>
    <%= image_tag 'things/oishii.jpg' %>
  </li>
  <li>
    <%= image_tag 'things/green-street.jpg' %>
  </li>
</ul>
</div>
