<div class="wedding-details">

  <h1>Cambridge Multicultural Arts Center</h1>
  <div class="row bottom-bordered">
    <div class="large-12 columns">
      <%= image_tag 'cmac.jpg' %>
      <div class="info">
        41 2nd St, Cambridge, MA 02139 [<a href="http://goo.gl/maps/GtWXE" target="_blank">map</a>]
      </div>
      <div class="info">
        January 25th, 2014
      </div>
      <div class="info">
        More details to come!
      </div>
    </div>
    <div class="large-6 columns">
    </div>
  </div>

  <% if false %>
  <div class="row bottom-bordered">
    <div class="large-6 columns">
      <div class="row event">
        <div class="large-3 columns">
          <span class="time">3:00PM</span>
        </div>
        <div class="large-9 columns">
          <div class="name">Ceremony</div>
          <p>The ceremony will start at 3:00PM prompt, so don't be late!</p>
        </div>
      </div>
      <div class="row event">
        <div class="large-3 columns">
          <span class="time">3:55PM</span>
        </div>
        <div class="large-9 columns">
          <div class="name">HOORAY</div>
          <p>Cheer loudly! We're finally married!</p>
        </div>
      </div>
      <div class="row event">
        <div class="large-3 columns">
          <span class="time">4:00PM</span>
        </div>
        <div class="large-9 columns">
          <div class="name">Cocktail Hour</div>
          <p>Drink up!</p>
        </div>
      </div>
      <div class="row event">
        <div class="large-3 columns">
          <span class="time">5:00PM</span>
        </div>
        <div class="large-9 columns">
          <div class="name">Dinner</div>
          <p>Eat up!</p>
        </div>
      </div>
      <div class="row event">
        <div class="large-3 columns">
          <span class="time">7:00PM</span>
        </div>
        <div class="large-9 columns">
          <div class="name">Dance Party</div>
          <p>Dance...up?</p>
        </div>
      </div>
    </div>

    <div class="large-6 columns hide-for-small">
      <iframe width="470" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Cambridge+Multicultural+Arts,+2nd+Street,+Cambridge,+MA&amp;aq=0&amp;oq=cambridge+multi&amp;sll=42.036922,-71.683501&amp;sspn=4.512082,11.815796&amp;ie=UTF8&amp;hq=Cambridge+Multicultural+Arts,+2nd+Street,+Cambridge,+MA&amp;t=m&amp;ll=42.369943,-71.078916&amp;spn=0.016487,0.032015&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Cambridge+Multicultural+Arts,+2nd+Street,+Cambridge,+MA&amp;aq=0&amp;oq=cambridge+multi&amp;sll=42.036922,-71.683501&amp;sspn=4.512082,11.815796&amp;ie=UTF8&amp;hq=Cambridge+Multicultural+Arts,+2nd+Street,+Cambridge,+MA&amp;t=m&amp;ll=42.369943,-71.078916&amp;spn=0.016487,0.032015" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
  </div>

  <h2>Parking</h2>
  <div class="row bottom-bordered">
    <div class="large-6 columns">
    </div>
  </div>
  <% end %>
</div>
