<div class="wedding-details">

  <h1>Wedding Details</h1>
  <div class="row bottom-bordered">
    <div class="large-5 columns">
      <%= image_tag 'cmac.jpg' %>
    </div>
    <div class="large-7 columns">
      <div class="info heading">
        Cambridge Multicultural Arts Center
      </div>
      <div class="info">
        41 2nd St, Cambridge, MA 02141 [<a href="http://goo.gl/maps/GtWXE" target="_blank">map</a>]
      </div>
      <div class="info">
        Saturday, January 25th, 2014
      </div>
      <div class="info">
        Ceremony at 3:00PM
      </div>
      <div class="info footnote">
        Cocktail hour, dinner, and dancing<br /> to follow at the same location
      </div>
      <div class="info footnote">
        Cocktail attire, black tie optional
      </div>
    </div>
  </div>

  <div class="row bottom-bordered directions">
    <div class="large-12 columns">
      <h2>Directions via T (the subway)</h2>
      <p>We encourage our guests to be green and take the subway if possible!</p>
      <div class="row">
        <div class="large-6 columns">
          <p class="heading green">From Green Line:</p>
          <ul>
            <li>Take the train to Lechmere Station (end of the line). The venue is about a 5 min walk away.</li>
            <li>Turn right onto Cambridge St</li>
            <li>Turn left onto 2nd St</li>
            <li>Turn right onto Otis St</li>
            <li>Turn left into Centanni Park and the venue will be on your left.</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <p class="heading red">From Red Line:</p>
          <ul>
            <li>Take the train to Kendall/MIT Station (between Central and Charles/MGH stops). The venue is about a 15 min walk away</li>
            <li>Head east on Main Street</li>
            <li>Turn onto 3rd St and walk up 3rd St for half a mile.</li>
            <li>Turn right onto Thorndike St</li>
            <li>Turn left into Centanni Park and the venue will be on your right.</li>
          </ul>
        </div>
      </div>
      <p>For directions via car, please use <a href="http://goo.gl/maps/GtWXE" target="_blank">Google maps</a> or your favorite GPS!</p>
    </div>
  </div>
  <div class="row parking">
    <div class="large-12 columns">
      <h2>Parking Information</h2>
      <p>For those driving to our wedding, there are nearby metered parking spots as well as a nearby parking garage.</p>
      <div class="row">
        <div class="large-6 columns">
          <div class="info heading">
            First Street Garage
          </div>
          <div class="info">
            Weekend rate is a maximum of $5 for >3 hours.
          </div>
          <div class="info">
            More info can be found <a href="http://www2.cambridgema.gov/traffic/OffStreetParking.cfm">here</a>.
          </div>
        </div>
        <div class="large-6 columns">
          <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89e370bc6af4c2eb%3A0x18753164cca87833!2sFirst+Street+Garage%2C+Spring+Street%2C+Cambridge%2C+MA!5e0!3m2!1sen!2sus!4v1385779978076" width="400" height="300" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
