/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Enriqueta:400,700|Lobster|Imprima);
@font-face { font-family: 'Sail'; src: font-url('SailRegular.otf'); } 
@font-face { font-family: 'Ostrich'; src: font-url('Ostrich.ttf'); } 
@font-face { font-family: 'Ostrich Black'; src: font-url('OstrichBlack.ttf'); } 

$primary-color: #b7d0c9;
$primary-color2: #5D7181;
$secondary-color: #eed15d;

@import "foundation_and_overrides.scss";
@import 'compass';


body {
  background-color: #f6f6f6;
  background: image_url('retina_wood.jpg');
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: $primary-color2;
  color: white;
}

.row.bottom-bordered {
  border-bottom: #cdcdcd 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', sans-serif;
  font-weight: normal;
  line-height: 1em;
}

h1 { font-size: 2.4em; margin-top: 0; }
h2 { font-size: 1.6em; }


p {
  line-height: 1.2em;
}

.row img {
}

.subtitle {
  font-size: 0.9em;
  margin-top: 5px;
  font-style: italic;
  color: #999;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

footer {
  font-family: 'Lobster', sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 20px 0;
  margin: 40px 0;
  background-color: $primary-color;
  color: white;
  a {
    color: white;
    &:hover {
      color: $secondary-color;
    }
  }
}


ul.side-nav {
  padding-top: 0;
  li {
    font-size: 2em;
    line-height: 1em;
    font-family: 'Ostrich';
    text-transform: uppercase;
    a {
      @include transition-property(background-color);
      @include transition-duration(0.8s);
      color: #222;
      padding: 10px 10px 1px 10px;
      &:hover {
        background-color: $primary-color;
      }
    }
    &.current a {
      background-color: $secondary-color;
    }
  }
}

.landing {
  a {
    display: block;
    position: relative;
    img {
      margin: 40px 0;
      @include transition-property(opacity);
      @include transition-duration(0.6s);
      @include transition-timing-function(ease-in-out);
      padding: 5px;
      background-color: $primary-color;
      position:absolute;
      left:0;
      &.top:hover {
        opacity: 0;
      }
    }
  }
}

.home {
  iframe {
    text-align: center;
    margin: 0 auto;
  }
}

.welcome {
  background-color: $primary-color;
  padding: 20px;
  font-size: 1.2em;
  margin-bottom: 30px;
  div.greeting {
    font-family: 'Lobster';
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  div.message {
    // font-size: 2em;
  }
}

form.custom {
  .not_coming {
    margin-bottom: 20px;
    label {
      margin-bottom: 8px;
      // font-weight: bold;
    }
  }
  p {
    font-style: italic;
    font-size: 0.9em;
  }
  .custom.dropdown.error {
    background: rgba(198, 15, 19, 0.1);
    border-color: #C60F13;
  }
}

.about-us {
  .him-her {
    text-align: center;
    img {
      width: 60%;
      margin-bottom: 15px;
    }
    p {
      text-align: left;
      font-size: 0.9em;
    }
  }
  h2.critics {
    margin: 40px 0 20px;
  }
  blockquote {
    background-color: lighten($primary-color, 15%);
    margin: 0 0 10px;
    padding: 15px 15px 5px;
    font-style: italic;
    clear: both;
    font-size: 0.9em;
    margin-bottom: 0;
    p {
      margin: 0 0 10px 0;
      line-height: 1.1em;
    }
  }
  p.byline {
    padding: 10px 0;
    font-style: italic;
    float: right;
    margin-bottom: 30px;
    display: block;
    font-size: 0.9em;
  }
}

.footnote {
  font-style: italic;
  color: #777;
  font-size: 0.9em;
}

.proposal {
  .byline {
    color: $primary-color2;
    font-size: 0.5em;
  }
  .photos {
    width: 100%;
    text-align: center;
    clear: both;
    img {
      width: 100%;
    }
  }
}

#countdown {
  font-style: normal;
  font-family: 'Ostrich', sans-serif;
  text-align: center;
  font-size: 1.4em;

  .countdown_section {
    display: block;
    float: left;
    text-align: center;
    padding: 0 10px;
  }

  .countdown_amount {
    font-family: 'Ostrich', sans-serif;
    font-size: 1.8em;
  }
}

.bridal-party {
  img {
    margin-bottom: 10px;
  }
  .name {
    font-family: 'Ostrich', sans-serif;
    font-size: 1.6em;
    line-height: 1em;
    span {
      // font-family: 'Ostrich Black'
    }
  }
  li.main .name {
    // color: $primary-color;
  }
  .title {
    color: $primary-color2;
  }
  .title {
    font-size: 0.9em;
  }
  .blurb {
    font-size: 0.8em;
  }
  .officiant {
    text-align: center;
    line-height: 1.6em;
  }
}

.wedding-details {
  text-align: center;
  h1, h2 {
    text-align: center;
  }
  img {
    margin-bottom: 20px;
  }
  .info {
    margin-bottom: 10px;
    span {
      font-weight: bold;
    }
  }
  .event {
    padding-bottom: 10px;
    .time {
      font-weight: bold;
      font-size: 1.2em;
    }
    .name {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

.things {
  h1 {
    span {
      text-decoration: line-through;
      color: #999;
    }
  }
}

